*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    background-image: linear-gradient(to right, #0a6fbb, rgba(255, 255, 255, 0.979));
    min-height: 70px;
    padding: 15px;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.login-form{
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #0a6fbb;
    border-radius: 10px;
}
h1{
    color: #009999;
    font-size: 20px;
    margin-bottom: 30px;
}
.box{
    margin-bottom: 10px;
}
.box input{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
}
.btn{
    text-align: right;
    margin-top: 30px;
    
}
.btn button{
    padding: 7.5px 15px;
    border-radius: 2px;
    background-color: #009999;
    color: #ffffff;
    border: none;
    outline: none;
    
}
h2{
    color: white;
}
button{
    width: 100px;
    height: 40px;
    background-color: white;
    color: black;
    border: 1px solid #0a6fbb;
    border-radius: 5px;
    margin-right: 10px;
}
h3{
    color: #0a6fbb;
    margin-bottom: 10px;
}
button:hover {
    background-color: #0a6fbb;
    color: white;
  }
  label{
      font-size: 10pt;
  }
